<div class="search">
  <div class="text-container">  
      <input type="text" placeholder="search people..." />
  </div>
</div>

<div class="results">
    
    <div class="row">
        <div class="person-record">
            <img src="https://randomuser.me/api/portraits/men/1.jpg" />
            <div class="info">
                <div class="name">Joe User</div>
                <div class="age"><label>Age:</label>22</div>
                <div class="phone"><label>Phone:</label>(111) 111-1111</div>
                <div class="interests">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec non tempor ex. Nunc viverra, ante id fermentum imperdiet, ante justo rhoncus massa, eu aliquam dolor nisi in leo. Quisque sit amet leo eget odio sagittis dictum non eu nibh. Morbi eu erat et tellus pulvinar lacinia eget eget diam. Sed tincidunt rutrum dui, sit amet gravida lacus vestibulum et. Curabitur porta purus in efficitur eleifend. Vestibulum luctus diam lacus, ac porta sapien congue eget. Donec rutrum nunc et luctus cras amet.</div>
            </div>  
        </div>
        <hr>
    </div> 

    <div class="row">
        <div class="person-record">
            <img src="https://randomuser.me/api/portraits/women/2.jpg" />
            <div class="info">
                <div class="name">Catherine User</div>
                <div class="age"><label>Age:</label>30</div>
                <div class="phone"><label>Phone:</label>(222) 222-1111</div>
                <div class="interests">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec non tempor ex. Nunc viverra, ante id fermentum imperdiet, ante justo rhoncus massa, eu aliquam dolor nisi in leo. Quisque sit amet leo eget odio sagittis dictum non eu nibh. Morbi eu erat et tellus pulvinar lacinia eget eget diam. Sed tincidunt rutrum dui, sit amet gravida lacus vestibulum et. Curabitur porta purus in efficitur eleifend. Vestibulum luctus diam lacus, ac porta sapien congue eget. Donec rutrum nunc et luctus cras amet.</div>
            </div>  
        </div>
        <hr>
    </div> 

</div>  
