<div class="search">
  <div class="text-container">  
      <input type="text" placeholder="search people..."  [ngModel]="searchText" (ngModelChange)="searchTextChanged($event)" />
  </div>
</div>

<div class="results">
    
    <div class="row" *ngFor="let person of people">
        <div class="person-record">
            <img src="{{person.imagePath}}" />
            <div class="info">
                <div class="name">{{person.name}}</div>
                <div class="age"><label>Age:</label>{{person.age}}</div>
                <div class="phone"><label>Phone:</label>{{person.phone}}</div>
                <div class="interests">{{person.interests}}</div>
            </div>  
        </div>
        <hr>
    </div> 

    <div *ngIf="loading">
        loading ...
    </div>
</div>  
